button {
    background: transparent;
    border: none ;
}

/* button one */

.button-one {
    --button-color: #fff;
}

.button-one .line {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
}

.button-one[aria-expanded="true"] .line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.button-one[aria-expanded="true"] :is(.top, .bottom) {
    y: 33;
}

.button-one[aria-expanded="true"] .top {
    rotate: 45deg;
}

.button-one[aria-expanded="true"] .middle {
    opacity: 0;
}

.button-one[aria-expanded="true"] .bottom {
    rotate: -45deg;
}