button {
    background: transparent;
    border: none ;
}

.button-three {
    --button-color: #fff;
    overflow: hidden;
}

.button-three .hamburger {
    transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
    translate: 10px -10px;
    rotate: 0.125turn;
}

.button-three .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}