@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Mobile navbar hamburger */
.hamburger_active::before {
  transform: translateY(7px) rotate(45deg);
  background-color: white;
}
.hamburger_active::after {
  background-color: white;
  transform: translateY(-3px) rotate(-45deg);
}


@layer utilities {
  .sectionactive {
    @apply text-white flex cursor-pointer  duration-200 ease-in 
  }
  .section {
    @apply text-[#777778] flex cursor-pointer hover:text-white duration-200 ease-in 
  }
  .line {
    @apply h-[1px] bg-[#777778] w-12 my-auto mx-3 hover:bg-white transition-width
  }
    .sectionactive>.line {
      @apply bg-white w-16 transition-width
    }
  .section:hover > .line {
    @apply bg-white w-16 transition-width
  }
  .line:focus {
    @apply bg-white w-16 
  }
  .content p {
    @apply text-[#777778] tracking-wide text-lg my-2 leading-loose;
  }
  .content h3 {
    @apply text-2xl mt-10
  }
  .content pre {
    @apply bg-[#1b1b1d] py-10 px-8 my-2 overflow-x-auto rounded-md
  }
  .content ol {
    @apply py-2
  }
  .content ol>li{
    @apply py-2 list-decimal text-[#777778]
  }
  .container {
    @apply invisible
  }
  .container > * {
    @apply visible
  }
  .container:hover> :not(:hover) {
    @apply opacity-50
  }
}


@media (max-width: 1023px) {
    .desk_layout {
      display: none;
    }
}